/* Собственно сам слайдер */
.slider{
	display: none;
    top: 10%;
    left: 20%;
    position: fixed;
    width: 60vw;
    height: 80vh;
    background: rgba(0, 0, 0, .8);
}
/* Картинка мастабируется по отношению к родительскому элементу */


.item-wraper{
margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
}



/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    top: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .item img {
    max-height: 60vh;
}

.slider .next {
   right:0%;
    border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Кружочки */

.slider-dots {
    top: 94%;
    left: 46% ;
    position: absolute;
  text-align: center;
 
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #6DB744
}
.closer{
        cursor: pointer;

    position: absolute;
    top:2%;
    left: calc( 100% - 30px);
    font-size: 24px;
    color: #fff;
}

@media  (max-width: 750px) {


.slider{
    top: 0%;
    left: 0%;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.closer{
        cursor: pointer;

    position: absolute;
    top:2vh;
    left: calc( 100% - 50px);
    font-size: 24px;
    color: #fff;
}
.slider .next {
   right:5%;
    border-radius: 3px 0 0 3px;
}

}

/* Заголовок слайда 
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
     Выравнивание текста по горизонтали и по вертикали
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
     Тень
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
*/




/* Анимация слайдов 

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
*/
